<h1>Welcome to my Aquarium Web App</h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
<div class="carousel-inner">
  <div class="item active">
    <%= image_tag 'slider1.jpg',class: 'img-responsive' %>
    <div class="carousel-caption">
      Pseudacanthicus L24
    </div>
  </div>
  <div class="item">
    <%= image_tag 'slider2.jpg',class: 'img-responsive' %>
    <div class="carousel-caption">
      Pseudacanthicus L600
    </div>
  </div>
</div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class='container' >
	<div class='row'> 

		<% @fishes.each do |fish| %>
			<div class='booyah-box col-xs-3'>
					<h1><%= link_to fish.name, fish_path(fish) %></h1>
					<p><%= truncate(fish.description,length: 30) %></p>
					<p><%= number_to_currency fish.price %></p>
					<i><%= fish.species %></i>
			</div>
<% end %>

	</div>
</div>