<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Enter Your Fish Details</h1>
  <%= simple_form_for @fish do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :species %>
    <%= f.input :image %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>